---
import { fade, slide } from "astro:transitions";
import FullWidthText from "../components/FullWidthText.tsx";
import HoverableText from "../components/HoverableText.tsx";
import Wrapper from "../layouts/wrapper.astro";
---

<Wrapper transition:animate={fade({ duration: "5s" })}>
	<div class="chunk flex flex-col jusitfy-center items-center">
		<FullWidthText text="KARTHIK NOOLI" client:only />
		<div
			class="gap-4 text-2xl flex flex-col flex-wrap justify-between items-start gap-x-4 w-full px-1 lg:px-4 md:-mt-3"
		>
			<p class="D1">20/04/2001 - PRESENT</p>
			<div class="flex flex-col flex-wrap gap-x-4 h-fit group">
				<p class="D1 md:text-xl text-sm">DESIGN ENGINEER / DEVELOPER</p>
				<div
					class="flex flex-col flex-wrap gap-x-4 h-fit group D1 mt-4 md:mt-0 mx-2 md:mx-0 max-w-full"
				>
					<div
						class="w-0.5 min-h-full bg-stone rounded-lg group-hover:opacity-100 transition-all opacity-100 sm:opacity-0"
					>
					</div>
					<p
						class="group-hover:opacity-100 text-xs font-bold md:text-base transition-all opacity-100 sm:opacity-0 uppercase md:max-w-xl w-full whitespace-break-spaces"
					>
						A Software Engineer that happens to know how to design. One that wants to do more than <i>just</i> code. One that cares deeply about the design of the product and the user experience.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="flex flex-col gap-y-4 p-4 fixed bottom-0 left-0">
		<HoverableText
			text="PROJECTS"
			client:load
			link="projects"
			className=""
			transition:name="projects"
		/>
		<HoverableText
			text="PHOTOGRAPHY"
			client:load
			link="photography"
			className=""
		/>
		<HoverableText
			text="BRANDING"
			client:load
			link="branding"
			className=""
		/>
		<HoverableText
			text="CV"
			client:load
			link="https://drive.google.com/file/d/1gVIM-oFDBUT8GHHx6eNYWJpBCpjRDW4d/view?usp=drive_link"
			className=""
		/>
	</div>
</Wrapper>
