---
import H1 from "../components/ui/h1.astro";
import HoverableText from "../components/HoverableText.tsx";
import Wrapper from "../layouts/wrapper.astro";
import FullWidthText from "../components/FullWidthText.tsx";
---

<style>
	.text-container {
		width: 100%;
		display: flex;
		height: fit-content;
		align-items: start;
		justify-content: start;
		overflow: hidden;
	}

	.scaled-text-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.scaled-text {
		white-space: nowrap;
		display: inline-block;
		transform: scale(1);
	}
</style>

<script is:inline>
	// if (typeof window !== "undefined") {
	// 	function scaleText() {
	// 		const container = document.querySelector(".scaled-text-wrapper");
	// 		const text = document.querySelector(".scaled-text");
	// 		const containerWidth = container.clientWidth;
	// 		const textWidth = text.clientWidth;
	// 		//subtract the line height
	// 		const textHeight = text.getBoundingClientRect().height;

	// 		const scale = containerWidth / textWidth;
	// 		text.style.textSize = `${scale}px`;
	// 		container.style.height = `${textHeight * scale}px`;
	// 		console.log(`${textHeight}`, `${textWidth}`, `${scale}`);
	// 	}

	// 	window.addEventListener("resize", scaleText);
	// 	window.addEventListener("load", scaleText);
	// }
</script>
<Wrapper>
	<div class="chunk flex flex-col jusitfy-center items-center">
		<FullWidthText text="KARTHIK NOOLI" client:only />
		<div
			class="flex flex-col md:flex-row justify-between items-start gap-x-4 w-full px-1 lg:px-4 -mt-3"
		>
			<p class="D1">20/04/2001 - PRESENT</p>
			<div class="flex flex-row gap-x-4 h-fit group">
				<p class="D1">DESIGN ENGINEER / DEVELOPER</p>
				<div class="flex flex-row gap-x-4 h-fit group D1">
					<div
						class="w-0.5 min-h-full bg-bone rounded-lg group-hover:opacity-100 transition-all opacity-100 sm:opacity-0"
					>
					</div>
					<p
						class="group-hover:opacity-100 transition-all opacity-100 sm:opacity-0 uppercase max-w-xl"
					>
						A Developer that happens to know how to design. One that
						doesn't just want to <span
							class="font-bold hover:text-pink transition-all"
							>develop</span
						> designs, but also wants to <span
							class="font-bold hover:text-blue transition-all"
							>design</span
						>
						them.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="flex flex-col gap-y-4 p-4 fixed bottom-0 left-0">
		<HoverableText
			text="PROJECTS"
			client:load
			link="projects"
			className="text-xl md:text-4xl"
		/>
		<HoverableText
			text="PICTURES"
			client:load
			link="pictures"
			className="text-xl md:text-4xl"
		/>
		<HoverableText text="CV" client:load link="cv" className="text-4xl" />
		<HoverableText
			text="DESIGNS"
			client:load
			link="designs"
			className="text-4xl"
		/>
	</div>
</Wrapper>
