<!-- src/components/Prose.astro -->
<div
  class="prose
  prose-h1:font-bold prose-h1:text-6xl prose-h1:uppercase
  prose-h2:font-semibold prose-h2:text-4xl
  prose-h3:font-semibold prose-h3:text-2xl
  prose-h4:font-semibold prose-h4:text-xl
  prose-h5:font-semibold prose-h5:text-lg
  prose-h6:font-semibold prose-h6:text-base
  prose-p:my-4 prose-p:text-justify
  prose-a:text-blue-600 hover:prose-a:underline
  prose-img:rounded-lg
  prose-ul:list-disc prose-ul:ml-6
  prose-ol:list-decimal prose-ol:ml-6
  prose-li:my-2 prose-li:text-base
  prose-strong:font-bold prose-em:italic
  prose-blockquote:italic prose-blockquote:border-l-4 prose-blockquote:pl-4 prose-blockquote:stone dark:prose-blockquote:bone
  prose-pre:bone prose-pre:stone prose-pre:overflow-x-auto prose-pre:p-4 prose-pre:rounded prose-code:stone prose-code:px-1 prose-code:py-0.5 prose-code:rounded prose-code:font-mono dark:prose-code:bg-gray-700 w-full min-w-full"
>
  <slot />
</div>
